.filtersContainer {
    width: 90vw;
    height: 40%;
    margin: 100px auto 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.valueSection,
.diaposoneSection,
.sortSection {
    width: 30%;
    height: 100%;
    background: rgb(149 14 14 / 66%);
    border: 2px solid red;
    box-shadow: 0 1px 10px 3px #ff0000d1;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.filtersContainer h5 {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}