.valueSection span {
    margin-bottom: 5px;
}

.byColorText {
    display: block;
}

.colorCell {
    width: 20px;
    height: 20px;
    transition: all ease 500ms;
}

.colorCell:hover {
    border: 2px solid gray
}

.colorCell-active {
    border-radius: 20px;
    box-shadow: 1px 1px 5px 2px;
}

.byShape,
.bySize,
.byColor {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: white;
    letter-spacing: 1px;
    justify-content: space-between;
}

.shapeCell {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all ease 500ms;
}

.shapeCell-active,
.shapeCell-active {
    filter: invert(9%) sepia(63%) saturate(461%) hue-rotate( 322deg) brightness(83%) contrast(88%);
}

.shapeCell:hover {
    transform: scale(1.05);
}

.sizesWrapper,
.shapesWrapper,
.colorCellsWrapper {
    width: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-grow: 3;
}

.sizeCell {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}